.comment{
position: absolute;
bottom: 0px;
}
.com_form p {
height: 28px;
line-height: 28px;
position: relative;
margin-top: 10px;
}
span.emotion:hover {
background-position: 2px -28px;
}
span.emotion {
width: 42px;
height: 20px;
background: url(/html/nds/oto/attention/images/icon.gif) no-repeat 2px 2px;
padding-left: 20px;
cursor: pointer;
float:left;
}
/**表情样式start**/
#facebox td{
padding:0px;
float: left;
line-height: 27px;
height: 27px;
font-size: 0;
text-align: center;
width: 27px;
border-bottom: 1px solid #d3d3d3;
border-left: 1px solid #d3d3d3;
background-color: #fff;
}
/**表情样式end**/
#facebox table tr td:last-child{
	border-right: 1px solid #d3d3d3;
}