html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
word-break: break-all;
}
body {
font-family: 微软雅黑;
font-size:12px;
}
ul, ol,li {
list-style: none;
}
.globleHead {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 35px;
background-color: #191717;
-webkit-box-shadow: inset 0 -1px #030304;
-moz-box-shadow: inset 0 -1px #030304;
box-shadow: inset 0 -1px #030304;
background-image: -webkit-linear-gradient(bottom, #16181a, #1e2528);
background-image: -moz-linear-gradient(bottom, #16181a, #1e2528);
background-image: -o-linear-gradient(bottom, #16181a, #1e2528);
background-image: linear-gradient(to top, #16181a, #1e2528);
z-index: 5555;
}
.navHead a {
display: inline-block;
padding: 0;
width: 30%;
height: 36px;
background-size: 34px 34px;
}
.backBtn {
background: url(../images/back.png) no-repeat center center;
}
.seprate {
display: inline-block;
width: 2px;
height: 35px;
background: url(../images/line.png) no-repeat top left;
background-size: 2px 34px;
}
.userBtn {
background: url(../images/user.png) no-repeat center center;
}
.menuBtn {
background: url(../images/menu.png) no-repeat center center;
}
.backtotop {
position: fixed;
bottom: 20px;
right: 10px;
width: 20px;
height: 40px;
border: 1px solid #ccc;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
text-decoration: none;
background-color: #191717;
color: #fff;
opacity: 0.3;
font-size: 18px;
text-align: center;
line-height: 40px;
z-index: 9988;
}
#wrap {
width: 100%;
padding: 10px 0;
}
#wrap h2{
font-size:12px;
}
.similar-goods {
width: 100%;
margin: 0px auto 50px auto;
box-shadow: 0px 1px 3px #f7f8f3;
}
.similar-goods li {
background: #f7f8f3;
}
.similar-common {
width: 92%;
padding: 12px 4% 12px 4%;
border-bottom: 1px dotted #dadada;
}
.similar-first {
-webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
}
.f16bold {
font-size: 16px;
font-weight: bold;
}
img.article-match-pic {
width: 100%;
}
.article-overview {
font-size: 16px;
font-weight: normal;
color: #969696;
}
#content {
padding-top: 5px;
overflow-x:hidden;
}
#content img{
width:100% !important;
height:auto !important;
}
.footer {
width: 100%;
margin-top: 0;
text-align: center;
font-size: 14px;
font-weight: bold;
clear: both;
text-shadow: 1px 1px 0 rgba(255,255,255,1);
}
.footer a {
color: #777;
font-size:12px;
}
a {
-webkit-tap-highlight-color: rgba(255,0,0,0);
text-decoration: none;
}
/******dropdown css****/
.navBar {
    position: relative;
    background-color: #ff5501;
}

.navBara {
    display: inline-block;
    padding: 5px;
    vertical-align: middle;
}

    .navBara img {
        width: 23px;
        height: 25px;
    }

.icon-back {
}

.icon-user {
    position: absolute;
    right: 100px;
}

.icon-menu {
    position: absolute;
    right: 15px;
}

.dropdown {
    position: fixed;
    z-index: 1001;
}

.dpd-posO {
    right: 64%;
    margin-right: -60px;
    top: 64px;
}

.dpd-posT {
    width: 38%;
    right: -200px;
    margin-right: -60px;
    top: 0;
    background-color:#202223;
}

.dpdli {
    text-align: left;
    border-bottom: 1px solid #1d2022;
    border-top:1px solid #3a3a3a;
    background-color: #282a2c;
    height:40px;
    line-height:40px;
}

.dpdli:active {
	background-color: #202223;
}

.dpd-firstli {
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
}

.dpd-lastli {
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
}

.dpda {
    display: inline-block;
    padding: 0px 10px 5px 12px;
    font-size: 16px;
    text-decoration: none;
    color: #b7bcc1;
    background-size: 8%;
    background-origin: content-box;
}

.corner {
    position: absolute;
    display: inline-block;
    width: 0px;
    height: 0px;
    border-width: 15px;
    border-style: solid;
    border-color: transparent #303030 #303030 transparent;
    margin: -20px 0 0 92px;
    z-index: 12;
}

.translate {
    transition-property: right;
    transition-duration: 0.3s;
    transition-timing-function:linear;
    -webkit-transition-property: right;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function:linear;
    -moz-transition-property: right;
    -moz-transition-duration: 0.3s;
    -moz-transition-timing-function:linear;
    -webkit-box-shadow:-3px 0 5px rgba(0,0,0,.4);
}

.slideshadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #b7bcc1;
    left: 0;
    top: 0;
    z-index: 998;
    opacity:0.4;
}