header{
	text-align:center;
}
header img{
	padding-top: 10px;
}
header a {
	color: #fff;
	width: 100px;
	display: block;
	margin: 10px auto;
	line-height: 30px;
	border-radius: 5px;
	background: #a09bab;
}
.list_ul .special{
	background: rgba(236,236,236,0.5);
}