.buttondiv{
	height: 100%;
	overflow:none;
	position: relative;
}
button{
	padding: 0;
	border: 0;
	outline: 0;
	width: 170px;
	height: 60px;
	position:absolute;
	background: url(/html/nds/oto/operateintro/images/btn.png) no-repeat;
	background-size: 170px 60px;
}
/* 微官网 */
/*.website .head span{
	letter-spacing:2px;
	height: 28px;	
	line-height: 28px;
	position: relative;
	font-size: 26px;
	font-family: "微软雅黑","宋体";
	color: #04355d;
	font-weight: normal;
	text-align:right;	
}
.website  .head{
	line-height: 30px;	
	padding:128px 50px 69px 50px;
	cursor: pointer;
}
.website  .ewmdiv{
	float:right;
}
*/
.website{
	width:100%;
	height:100%;
	min-width:1000px;
	background:url("/html/nds/oto/operateintro/images/websitebg_p.jpg") no-repeat;
}
.website  button{
	top:210px;
	left:800px;
}

/* 微商城 */
/*.head span{
	letter-spacing:4px;
	height: 28px;	
	line-height: 28px;
	position: relative;
	display: block;
	font-size: 28px;
	font-family: "微软雅黑","宋体";
	color: #04355d;
	font-weight: normal;
	text-align:right;	
}
.head{
	line-height: 30px;	
	padding:128px;
	cursor: pointer;
}

.right{
	left:150px;
	margin:35px;
	float:right;
}
.ewmdiv{
	width:24%;
	float:right;
}

.ewmdiv span{
	letter-spacing:4px;
	height: 28px;	
	line-height: 28px;
	position: relative;
	display: block;
	text-align: left;
	font-family: "微软雅黑","宋体";
	color: #5d5b5b;
	font-weight: normal;	
	font-size:12px;
}

.ewmdiv img{
	height:133px;
}

*/
.main{
	margin:0;
	width:100%;
	height:100%;
	min-width:1000px;
	background:url("/html/nds/oto/operateintro/images/storebg.jpg") no-repeat;
}
.main button{
	top:380px;
	left:750px;
}

/* 微会员 */
/*.member .head span{
	letter-spacing:2px;
	height: 28px;	
	line-height: 28px;
	position: relative;
	font-size: 26px;
	font-family: "微软雅黑","宋体";
	color: #04355d;
	font-weight: normal;
	text-align:right;	
}
.member  .head{
	line-height: 30px;	
	padding:128px 50px 69px 50px;
	cursor: pointer;
}

.member .ewnwidth{
	margin-top:16%;
	float:right;
	width:32%;
}
*/
.member{
	width:100%;
	height:100%;
	min-width:1000px;
	background:url("/html/nds/oto/operateintro/images/weimember.jpg") no-repeat;
}
.member  button{
	top:460px;
	left:750px;
}

/* 微信接口 */
/*.weixin .ewmdiv{
	float:right;
	margin-top:15%;
	width:28%;
}
*/
.weixin{
	width:100%;
	height:100%;
	min-width:1000px;
	background:url("/html/nds/oto/operateintro/images/weixinbg.jpg") no-repeat;
}
.weixin button{
	top:260px;
	left:730px;
}
.footer{
	text-align: center;
	height: 75px; line-height: 75px;
	position: absolute;
	bottom: 0;
	width: 88%;

}
.footSpan{
	letter-spacing:11px;
	height: 28px;	
	line-height: 28px;
	font-size: 26px;
	font-family: "微软雅黑","宋体";
	color: #231816;
	font-weight: normal;
	text-align:right;	
}
.appstore{
	width: 100%;
	height: 100%;
	min-width: 1000px;
	background: url("/html/nds/oto/operateintro/images/appstore.jpg") no-repeat;
}
.appstore button {
	top: 240px;
	left: 800px;
}
.sysmanager{
	width: 100%;
	height: 100%;
	min-width: 1000px;
	background: url("/html/nds/oto/operateintro/images/sysmanager.jpg") no-repeat;
}
.sysmanager button {
	top: 350px;
	left: 770px;
}
