.portal-dock.interactive-mode { 
    float: right;
    width: 150px;
    min-width: 150px;
    position: absolute;
    right: 2px;
	top: 0;
	z-index:100 !important;
    /*top: -1px;Ëï¾²ÃÃÐÞ¸Ä2014-4-24ÏÂÎç*/
    /* margin-right:1.3em; */
    margin-right: 0.5em;
}
/*-------¸ü¶à °´Å¥Ðü¸¡²ãÑùÊ½---------*/
.portal-dock-list-container {
    border: 0px;
    position: absolute;
	top: 24px;
    right: 7px;
    /*top: 23px;
    right: 2px;Ëï¾²ÃÃÐÞ¸Ä2014-4-24ÏÂÎç*/
    text-align: right;
}

.portal-dock-list {
    width:184px;
    overflow: hidden;
    background: #fff;/*Ëï¾²ÃÃÐÞ¸Ä2014-4-28ÏÂÎç*/
   /* opacity: 0.7;*//*Ëï¾²ÃÃÐÞ¸Ä2014-4-28ÏÂÎç*/
   /* margin: 10px auto;*/
   padding: 6px 0;
    /*padding: 15px 20px;*/
    text-align: left;
    position: relative;
	border:1px solid #ccc;
	box-shadow: #ccc 0px 0px 5px;/*Ëï¾²ÃÃÐÞ¸Ä2014-4-28ÏÂÎç*/
}

    .portal-dock-list span {
        float: right;
    }

    .portal-dock-list a:hover {
        color: #fff;
    }

    .portal-dock-list a {
        color: #2b2b2b;/*Ëï¾²ÃÃÐÞ¸Ä2014-4-28ÏÂÎç*/
        display: block;
        width: 100%;
    }


    .portal-dock-list li {
        height: 30px;
        line-height: 30px;
        /*width: 80%;*//*Ëï¾²ÃÃÐÞ¸Ä2014-4-28ÏÂÎç*/
        cursor: pointer;
        color: #fff;
       /* width: 100%;*//*Ëï¾²ÃÃÐÞ¸Ä2014-4-28ÏÂÎç*/
        display: block;
		padding:0 10px;
    }

.portal-dock.interactive-mode ul {
    <!-- background: url(/html/nds/images/dock/menu_bg.png) no-repeat 0 0;
    paco delete-->
    <!-- border-left: 20px solid #DDEAFB;
    paco delete--> display: none;
    float: none;
    margin: 1px 0pt 1px 1px;
}

.portal-dock.interactive-mode li {
    display: block;
    float: none;
    margin-bottom: 0pt;
    margin-left: 0.2em;
    height: 28px;
   /* width: 140px;*/
}
.portal-dock.interactive-mode li:hover{ background:#1772a7;color:#fff;}/*Ëï¾²ÃÃÐÞ¸Ä2014-4-28ÏÂÎç*/

    .portal-dock.interactive-mode li a {
    }

.portal-dock.interactive-mode ul.portal-dock-list > li:first-child a, .portal-dock.interactive-mode ul.portal-dock-list > li:first-child ul.show-my-places li:first-child a {
    border-top: none;
}

.portal-dock.interactive-mode li a:hover {
}

.portal-dock.interactive-mode ul.portal-dock-list > li:first-child a, .portal-dock.interactive-mode ul.portal-dock-list > li:first-child a:hover, .portal-dock.interactive-mode ul.portal-dock-list li.my-places ul.show-my-places li ul li:first-child a, .portal-dock.interactive-mode ul.portal-dock-list li.my-places ul.show-my-places li ul li:first-child a:hover {
    border-top: none;
}

.portal-dock li a:after {
    font-family: _babyblue;
    font-size: 20px;
    position: absolute;
    right: 10px;
}

.portal-dock li.Add a:after {
    content: "\e676";
}

.portal-dock li.Delete a:after {
    content: "\e635";
}

.portal-dock li.Submit a:after {
    content: "\e63a;";
}

.portal-dock li.Report a:after {
    content: "\e634";
}

.portal-dock li.Modify a:after {
    content: "\e6d6";
}

.portal-dock li.ExportList a:after {
    content: "\e69f";
}

.portal-dock li.Import a:after {
    content: "\e6a0";
}

.portal-dock li.SmsList a:after {
    content: "\e666";
}

.portal-dock li.ListAdd a:after {
    content: "\e697";
}

.portal-dock li.UpdateSelection a:after {
    content: "\e630";
}

.portal-dock li.UpdateResultSet a:after {
    content: "\e6d6";
}

.portal-dock li.PrintList a:after {
    content: "\e750";
}

.portal-dock li.Refresh a:after {
    content: "\3437";
}

.portal-dock li.PrintSelect a:after {
    content: "\e615";
}

.portal-dock li.ListCopyTo a:after {
    content: "\e645";
}

.ie6 .portal-dock.interactive-mode {
    white-space: nowrap;
    width: 150px;
}

.ie .portal-dock .my-places .show-my-places h3 {
    font-size: 1.1em;
}

.ie6 .portal-dock.expanded.interactive-mode .portal-dock-list-container {
    height: 1%;
}


.ie6 .portal-dock.interactive-mode li {
    height: 1%;
}

    .ie6 .portal-dock.interactive-mode li a {
        height: 1%;
    }
