#objdropmenu {
}

.obj-dock-list-container {
   /* width: 130px;
    overflow: hidden;
    background: #fff;
    opacity: 0.7;
    margin-top: -10px;
    padding: 2px 20px;
    text-align: left;
    position: relative;*/
	
	width:130px;
    overflow: hidden;
    background: #fff;/*孙静妹修改2014-4-28下午*/
   /* opacity: 0.7;*//*孙静妹修改2014-4-28下午*/
   /* margin: 10px auto;*/
  /* padding: 6px 0;*/
    /*padding: 15px 20px;*/
    text-align: left;
    position: relative;
	border:1px solid #ccc;
	box-shadow: #ccc 0px 0px 5px;/*孙静妹修改2014-4-28下午*/
    display:none;
}

    .obj-dock-list-container ul {
        margin: 0px;
    }


    .obj-dock-list-container a:hover {
        color: #fff;
    }

    .obj-dock-list-container a {
       /* color: #2b2b2b;
        display: block;
        width: 100%;*/
		color: #2b2b2b;/*孙静妹修改2014-4-28下午*/
        display: block;
        width: 100%;
    }

    .obj-dock-list-container li {
       /* height: 30px;
        line-height: 30px;
        width: 80%;
        cursor: pointer;
        color: #fff;
        width: 100%;
        display: block;*//*孙静妹修改2014-4-28下午*/
		
		 height: 30px;
        line-height: 30px;
        /*width: 80%;*//*孙静妹修改2014-4-28下午*/
        cursor: pointer;
        color: #fff;
       /* width: 100%;*//*孙静妹修改2014-4-28下午*/
        display: block;
		padding:0 10px;
    }
	.obj-dock{ top:25px;}
	.obj-dock-list-container li:hover{background:#1772a7;color:#fff;} 
