body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td {
    margin: 0;
    padding: 0;
    vertical-align: baseline
}

ol,ul {
    list-style: none
}

input,select,button,h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-family: inherit;
	outline:none;
}

a,a:visited {
    text-decoration: none;
    color: #333
}

body {
    margin: 0 auto;
    min-width: 320px;
    max-width: 640px;
    height: 100%;
    background: #FFF;
    font-size: 14px;
    font-family: Helvetica,STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Arial;
    line-height: 1.5;
    color: #666;
    -webkit-text-size-adjust: 100% !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.wx_bar {
    position: relative;
    width: 100%;
    min-height: 44px;
    line-height: 44px;
    background-color: #EFEFEF;
    border-bottom: 1px solid #DDD
}

.wx_bar_back {
width: 50px;
height: 45px;
position: absolute;
}

.wx_bar_back a {
overflow: hidden;
display: block;
height: 100%;
}

.wx_bar_back a:after, .wx_backtop:after, .wx_bar_new:after, .wx_bar_best:before {
background-image: url(../images/sprites_v3.png);
background-repeat: no-repeat;
background-size: 100px 100px;
-webkit-background-size: 100px 100px;
}

.wx_bar_back a:after {
display: block;
margin: 10px 0 0 10px;
height: 25px;
width: 25px;
background-position: 0 0;
}

.wx_bar_back a:after, .wx_backtop:after, .wx_bar_new:after, .wx_bar_best:before {
content: '\20';
display: block;
}

.wx_bar_act {
height: 45px;
position: absolute;
right: 0;
top: 0;
}

.wx_bar_new {
overflow: hidden;
display: block;
height: 100%;
width: 60px;
}

.wx_bar_new:after {
display: block;
height: 25px;
width: 25px;
background-position: -25px 0;
margin: 10px 15px 0 0;
float: right;
}

.address_list .del {
height: 16px;
line-height: 16px;
position: absolute;
left: 0;
top: 50%;
width: 70px;
margin-top: -8px;
}

.wx_bar_tit {
    width: 100%;
    height: 45px;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    color: #333
}

.wx_confirm_close:after,
.address_list .edit:after,
.appointment_type .date:after,
.address_list ul:before,
.shipping_type ul:before,
.pay_list li:before,
.appointment_type ul:before,
.promo_list .jd li:before,
.promo_list .man li:before,
.promo_list .cash li:before,
.invoice_list li:before,
.address_list_link .item:after,
.promo_item .pi_block:before,
.promo_item .pi_goods li:before {
    background-image: url(../images/sprites_v3.png);
    background-repeat: no-repeat;
    background-size: 100px 100px;
    -webkit-background-size: 100px 100px
}

.address_list .edit:after,
.appointment_type .date:after {
    content: '\20';
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -10px;
    background-position: -60px -30px
}

.address_list ul,
.shipping_type ul,
.pay_list li,
.appointment_type ul,
.promo_list .jd li,
.promo_list .man li,
.promo_list .cash li,
.invoice_list li {
    padding: 15px 40px;
    position: relative;
    border-bottom: 1px solid #E7E7E7
}

.address_list ul:before,
.shipping_type ul:before,
.pay_list li:before,
.appointment_type ul:before,
.promo_list .jd li:before,
.promo_list .man li:before,
.promo_list .cash li:before,
.invoice_list li:before {
    content: '\20';
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -10px;
    background-position: -20px -50px
}

.address_list ul.selected:before,
.shipping_type ul.selected:before,
.pay_list li.selected:before,
.appointment_type ul.selected:before,
.promo_list .jd li.selected:before,
.promo_list .man li.selected:before,
.promo_list .cash li.selected:before,
.invoice_list li.selected:before {
    background-position: 0 -50px
}

.wx_wrap {
    position: relative;
    padding-bottom: 64px
}

.address_list ul {
    padding-right: 50px;
    background-color: #fff;
    z-index: 2
}

.address_list .edit {
    color: rgba(0, 0, 0, 0);
    width: 50px;
    position: absolute;
    top: 10px;
    bottom: 10px;
    right: 0;
    z-index: 2
}

.address_list .edit a {
    color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    display: block
}

.address_list .address {
    position: relative;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all
}

.address_list .act {
    background-color: #ff3b2f;
    color: #fff;
    width: 70px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1
}

.address_null h3 {
    position: relative;
    padding: 24px 0
}

.address_new p {
    border-bottom: 1px solid #CBCBCB;
    padding: 10px 20px 10px 100px;
    position: relative
}

.address_new .area {
padding: 5px 0;
}
.address_new .area .error {
background-color: rgba(255, 0, 0, 0.2);
}
.address_new .area label {
padding: 5px 20px 5px 100px;
display: block;
position: relative;
}

.address_new .tit {
    color: #666;
    width: 80px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto 0;
    height: 20px;
    padding-right: 20px;
    text-align: right
}

.address_new input {
    height: 20px;
    line-height: normal;
    border: 0 none;
    font-size: 14px;
    width: 100%;
    -webkit-appearance: none;
    vertical-align: top;
    color: #333
}

.address_new select {
    width: 100%;
    font-size: 14px;
    position: relative;
    height: 35px;
    line-height: 35px;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border: 1px solid #ddd;
    padding: 0 16px 0 5px;
    background: #fff;
    background: white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAKCAYAAACjd+4vAAAA10lEQVQ4T7XSPxJFMBAG8G8PQK/TiFP4U3BcOgegMxq1Eyh0Gqo8m5m8wQQzed5WJnbyy7cJya26roPrugjDEE+1taNpGnieByHEU/vlf2rbVvZ9DyJCHMe3OKN1XWMYBtWfJIk1TkVRyGma1Mnu8D2qY3DiNE2tUtOyLLKqKtzhJjQIAoXyYW2K+I7XdcUV/g9UTZdh/jDhURRhHEd1p7p+Tar3+cIm/DzCt9BDYo2ck7+d1Jh4j5dliXme1ZLv+8jz3PohmR7fYdT7Bp3ccRxkWfYqys4HBLeZ4wvKfMkAAAAASUVORK5CYII=) no-repeat right center;
    -webkit-background-size: 15px 5px;
    background-size: 15px 5px
}

.address_new button {
    display: block;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background-color: #3884FF;
    color: #fff;
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    width: 100%;
    border: 0 none
}

.address_new .action {
    padding: 15px 10px;
    border-bottom: 0
}

.address_list_link .item {
    position: relative;
    display: block;
    height: 45px;
    line-height: 45px;
    padding: 0 10px;
    background: #efefef;
    border-bottom: 1px solid #cbcbcb
}

.address_list .edit:after {
right: 10px;
}

.address_list_link .item:after {
position: absolute;
right: 10px;
top: 50%;
content: '';
display: block;
width: 25px;
height: 25px;
margin-top: -12px;
background-position: -25px 0;
}

/* dialog2  请求加载中... */
.wx_loading {
position: fixed;
top: 0;
left: 0;
bottom: 0;
right: 0;
z-index: 90;
background-color: rgba(0, 0, 0, 0);
}

.wx_loading_inner {
text-align: center;
background-color: rgba(0, 0, 0, 0.5);
color: #fff;
position: fixed;
top: 50%;
left: 50%;
margin-left: -70px;
margin-top: -48px;
width: 140px;
border-radius: 6px;
font-size: 14px;
padding: 58px 0 10px 0;
}

.wx_loading_icon {
    position: absolute;
    top: 15px;
    left: 50%;
    margin-left: -16px;
    width: 24px;
    height: 24px;
    border: 2px solid #fff;
    border-radius: 24px;
    -webkit-animation: gif 1s infinite linear;
    animation: gif 1s infinite linear;
    clip: rect(0 auto 12px 0)
}

@keyframes gif {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes gif {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}