body, div, label, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, p, blockquote, th, td {
/* margin: 0;
padding: 0; */
border: 0;
outline: 0;
list-style: none;
}
body * {
font-family: "微软雅黑";
}

.msg-item-wrapper .msg-item {
border-radius: 5px;
box-shadow: none;
moz-border-radius: 5px;
moz-box-shadow: none;
webkit-border-radius: 5px;
webkit-box-shadow: none;
}
.msg-item {
padding: 2px 0;
background-color: #fff;
border-bottom: 1px solid #ccc;
box-shadow: 0 2px 4px rgba(0,0,0,0.2);
-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
-moz-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
border-radius: 5px 5px 0 0;
-webkit-border-radius: 5px 5px 0 0;
-moz-border-radius: 5px 5px 0 0;
}
.multi-msg .msg-meta {
margin: 0 14px;
line-height: 28px;
}
.msg-meta {
display: block;
width: 100%;
height: 10px;
}
.cover {
margin: 0 14px 12px;
position: relative;
font-size: 0;
height: 160px;
overflow: hidden;
}

.cover .msg-t {
position: absolute;
bottom: 0;
width: 100%;
overflow: hidden;
margin: 0;
color: #fff;
background: rgba(0,0,0,0.6)!important;
filter: progid:dximagetransform.microsoft.gradient(GradientType=0,startColorstr='#82000000',endColorstr='#82000000');
}
.msg-t {
margin: 6px 14px 0;
line-height: 28px;
max-height: 56px;
overflow: hidden;
font-size: 16px;
font-weight: 400;
letter-spacing: 1px;
}
.h4 {
display: block;
-webkit-margin-before: 1.33em;
-webkit-margin-after: 1.33em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
font-weight: bold;
}
.cover .i-title {
display: block;
padding-left: 4px;
padding-right: 4px;
}
body * {
font-family: "微软雅黑";
}

.abs {
position: absolute;
}
.tc {
text-align: center;
}

.sub-msg-opr {
top: 0;
left: 100%;
height: 100%;
width: 100%;
background-color: #e5e5e5;
background: rgba(229,229,229,0.85);
filter: progid:dximagetransform.microsoft.gradient(GradientType=0,startColorstr='#85E5E5E5',endColorstr='#85E5E5E5') alpha(opacity=85);
}
.cover img {
width: 100%;
}
.rel {
position: relative;
}
.sub-msg-item {
padding: 12px 14px;
overflow: hidden;
zoom: 1;
border-top: 1px solid #c6c6c6;
}
.sub-msg-item:last-child{
border-bottom: 1px solid #c6c6c6;
}
.thumb {
float: right;
font-size: 0;
}

.thumb img {
/* width: 70px;
height: 70px; */
width: 46px;
height: 40px;
border: 1px solid #b2b8bd;
}
.sub-msg-item .msg-t {
line-height: 24px;
font-size: 14px;
}
.sub-msg-item .msg-t {
margin-left: 0;
margin-right: 85px;
margin-top: 0;
padding-left: 4px;
padding-top: 12px;
line-height: 24px;
max-height: 48px;
font-size: 14px;
overflow: hidden;
}
.msg-t {
margin: 6px 14px 0;
line-height: 28px;
max-height: 56px;
overflow: hidden;
font-size: 16px;
font-weight: 400;
letter-spacing: 1px;
}
.wap-preview {
/*width: 297px;*/
height: 557px;
/* border-left: 1px solid #ccc; */
top: 10px;
right: 0;
text-align:center;
background: url(/html/nds/oto/sendmessage/images/wapphone.png) no-repeat center center;
margin-left: auto;
margin-right: auto;
}
#menu ul,#menu ul li ul{
list-style-type:none;
}
#menu>ul>li {
min-width: 63px;
display: table-cell;
border-left: 1px ridge;
}
#menu>ul>li:hover {
cursor: pointer;
}
#menu>ul{
width: 237px;
display: table;
position: relative;
margin-left: auto;
margin-right: auto;
/*padding-left: 30px;*/
line-height: 33px;
border-top: 1px ridge;
background: url(/html/nds/oto/sendmessage/images/bg_pre3.png) no-repeat;
background-color:white;
background-position: 7px;
}
#menu>ul>li:hover>ul{
display:block;
}
.childmenu{
}
.content{
width: 277px;
height: 416px;
margin-left: auto;
margin-right: auto;
top: 46px;
background: #fff;
position: relative;
}
.childul{
display:none;
position: absolute;
}
#menu>ul>li>ul {
width: 75px;
padding-left: 0;
bottom: 33px;
/* float: right; */
/* text-align: center; 
padding-right: 12px;*/
border: 1px ridge;
border-bottom: none;
}
#menu > ul > li > ul > li> span {
padding-left: 10px;
}
.haschild_img {
width: 10px;
height: 10px;
padding-bottom: 10px;
vertical-align: bottom;
background:url();
}
#menu > ul > li> ul > li {
text-align: left;
border-bottom: 1px ridge;
}
body{
margin:0;
}