* {
    margin: 0;
    padding: 0;
}
html,
body {
    font-size: 12px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    color: #282828;
    background: #FFF;
    border: none;
    font-family:"微软雅黑";
}
input { outline: none;font-family:"微软雅黑"; }
a { text-decoration: none }
img { border: none }
li { list-style: none }
.cl { zoom: 1 }
.cl:after {
    display: block;
    clear: both;
    content: '';
}
table{
    border-collapse:collapse;
}
.span-14 { font-size: 14px }
.span-16 { font-size: 16px }
.span-wryh { font-family: "微软雅黑" }
.span-grey { color: #9C9A9C }
.span-red { color: #E75D21 }
.span-white { color: #FFF }
.span-bold { font-weight: bold }
.input-140 {
    width: 140px;
    height: 18px;
    border: 1px #B2B2B2 solid;
}
.input-100 {
    width: 100px;
    height: 18px;
    border: 1px #B2B2B2 solid;
}
.input-bot {
    border: none;
    border-bottom: 1px #333 solid;
}
.table-buttons2 a,.table-buttons a {
    height: 22px;
    line-height: 22px;
    display: block;
    text-align: center;
    border: none;
    background: #D4D4D4;
    /* color: #595959; */
	color: black;
    text-decoration: none;
}
.button-blue {
	width: 60px;
	height: 22px;
	line-height: 22px;
	display: block;
	text-align: center;
	border: none;
	background: #D4D4D4;
	color: #595959;
	text-decoration: none;
}
.button-bluee {
	width: 60px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	border: none;
	background: #D4D4D4;
	color: #595959;
	text-decoration: none;
}
.float-right {
    float: left;
    margin-left: 10px;
}
#more_box{
    display: inline-block;
    position: relative;
}
#more_box:visited .more_active_box{ display: block;}
.more_active_box{
    position: absolute; left:-67px; top:32px;
    width:124px;
    background-color: #f6f6f6;
    border:1px solid #b6b6b6;
    display:none;
}
.more_active_box li{
    text-indent:28px;
    height:29px; line-height:29px;
    color: #000;
    border-top:1px solid #b6b6b6;
}
.more_active_box li:first-child{
    border:none;
    background:url(/images/newimages/more_active_box.jpg) no-repeat;
}
.more_active_box li:nth-child(2){
    background:url(/images/newimages/more_active_box.jpg) no-repeat 0 -28px;
}
.more_active_box li:nth-child(3){
    background:url(/images/newimages/more_active_box.jpg) no-repeat 0 -56px;
}
.more_active_box li:nth-child(4){
    background:url(/images/newimages/more_active_box.jpg) no-repeat 0 -84px;
}
.more_active_box li:nth-child(5){
    background:url(/images/newimages/more_active_box.jpg) no-repeat 0 -112px;
}
.more_active_box li:nth-child(6){
    background:url(/images/newimages/more_active_box.jpg) no-repeat 0 -140px;
}
.more_active_box li:nth-child(7){
    background:url(/images/newimages/more_active_box.jpg) no-repeat 0 -168px;
}
.more_active_box li:nth-child(8){
    background:url(/images/newimages/more_active_box.jpg) no-repeat 0 -196px;
}
.more_active_box li:nth-child(9){
    background:url(/images/newimages/more_active_box.jpg) no-repeat 0 -196px;
}
.more_active_box .arrow{
    position: absolute; left:74px; top:-6px;
    overflow: hidden;
}
.more_active_box li:hover{
    background-color: #595959;
}
.table-buttons2 a:hover,.table-buttons a:hover {
    cursor: pointer;
    height: 22px;
    background: #1670A5;
    color: #FFF;
    text-decoration: none;
}
.button-blue:hover {
	cursor: pointer;
	width: 60px;
	height: 22px;
	background: #1670A5;
	color: #FFF;
	text-decoration: none;
}
.button-bluee:hover {
	cursor: pointer;
	width: 60px;
	height: 22px;
	background: #1670A5;
	color: #FFF;
	text-decoration: none;
}
.clear_both { clear: both }
.margin_top_60 { margin-top: 60px }
.textarea-1 {
    width: 546px;
    height: 75px;
    border: 1px #9C9E9C solid;
}
.top {
    width: 100%;
    height: 56px;
}
.top_left {
    width: 345px;
    padding-left: 20px;
    /* padding-top: 12px; */
    float: left;
    display: inline;
}
.top_right {
    width: 550px;
    text-align: right;
    position: absolute;
    top: 20px;
    right: 30px;
}
.top_right label {
    margin-left: 11px;
    line-height: 23px;
}
.top_right a { position: relative }
.top_right ul { }
.top_right ul li {
    width: 24px;
    height: 23px;
    float: left;
    margin-left: 15px;
    display: inline;
}
.title {
    width: 100%;
    height: 36px;
    border: 1px solid #DDD;
    border-left: none;
    border-right: none;
}
.title-left {
    /*width: 100px;paco delete*/
    height: 36px;
    float: left;
    margin-left: 30px;
    display: inline;
    line-height: 36px;
    font-size: 14px;
    font-family: "微软雅黑";
    font-weight: bold;
    color: #4F4F4F;
    background: url(/images/newimages/home_29.png) no-repeat left center;
    text-indent: 30px;
}
.search {
    width: 300px;
    height: 38px;
    float: right;
    margin-right: 42px;
    display: inline;
    margin-top: 5px;
    line-height: 38px;
    font-size: 14px;
    font-family: "微软雅黑";
    font-weight: bold;
    color: #4F4F4F;
    border-radius: 20px 20px 20px 20px;
}
.search  input{
	margin-top:-1px;
}
.search-1 {
    float: right;
    margin-top: 0;
	width:300px;
	line-height:38px;
	height:38px;
    font-size: 14px;
    font-weight: bold;
    color: #4F4F4F;
}
.search-button {
    line-height: 24px;
    width: 227px;
    height: 24px;
    font-size: 12px;
    margin-left: 8px;
    margin-top: 4px;
	margin-bottom:4px;
    padding-left: 31px;
    background: url(/images/newimages/home_31.png) no-repeat 10px center;
    overflow: hidden;
	border-radius: 20px 20px 20px 20px;
	border: 1px solid #D0D0D0;
	-webkit-transition:width .4s;
    font-family: "微软雅黑";
}
.search-button:focus{
	width:250px;
}
.bottom {
    width: 100%;
    height: 26px;
    line-height: 26px;
    color: #999;
    background: #E6E6E6;
    clear: both;
	position:fixed; left:0; bottom:0;
}
.bottom_copyright {
    width: 500px;
    float: right;
    text-align: right;
    margin-right: 200px;
}

#box{
    position: relative; left:0; top:0;
    width:100%; height:100%;
    background-color: rgba(225,225,225,.5);
    <!--text-align:center; paco delte -->
    <!--overflow: hidden; paco delete -->
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
#box .middle{
    display: inline-block;
    height:100%;
    vertical-align: middle;
}
#portal_middle_right_menu{
	background-color:#eeeeee;
	height:28px;
	border-bottom:1px solid #cdcdcd;
}
#portal_middle_right_menu span{
	background:url(/html/nds/themes/classic/01/images/rightline.jpg) no-repeat;
	background-position-y: 50%;
	background-position-x: 100%;
	/*margin-left:20px;
	padding-right:20px;*/
	line-height : 26px;
}
#portal_middle_right_menu a{
	color:#555555;
	text-align:center;
	font-size:14px;
	padding: 6px 20px;
}

#portal_middle_right_menu a:hover{
	text-decoration:none;
	background:#1772a7;
	color:#fff;
	background-size:40px 40px;
	/*margin-left: -2px;*/
}
#div_shou_cang{
	position: absolute;
	width: 130px;
	/*height: 200px;*/
	z-index: 100;
	top: 25px;
	right: 80px;
	border: none;
	/* opacity: .8; */
	background-color: #F6F6F6;
}
#change_show_cang_warp{
	width: 180px;
	height: 378px;
	position: absolute;
	background: rgba(0,0,0,0.3);
	top: 10px;
	right: 7px;
}
#content_show_cang{
	text-align:left;
}
#div_shou_cang #tab_accordion div h3 {
	height: 29px;
	background: url("") no-repeat;
	line-height: 29px;
	text-indent: 15px;
	width: 130px;
	margin-top: 5px;
	border-bottom: 2px solid #C2C2C2;
}
#div_shou_cang .select_all{
	right: 13px;
	float: right;
	top: 4px;
	width: 19px;
	background: url(/images/newimages/tanchu/Trashred.png) no-repeat;
	height: 20px;
}
#div_shou_cang .select_all:hover{
	background: url(/images/newimages/tanchu/Trashred.png) no-repeat;
}
#div_shou_cang .accordion_headings {
	color: #000000;
	display: block;
	height: 20px;
	padding: 5px 0 0 15px;
	text-decoration: none;
	cursor: pointer;
	overflow: hidden;
	width: 100px;
}
#div_shou_cang .accordion_headings:hover {
	background: transparent;
}
#div_shou_cang .accordion_headings:hover a {
	color:blue;
}