body {
margin: 0;
color: #333;
background-color: #f9f9f9;
-webkit-backface-visibility: hidden;
}
body .body-fixed-bottom {
padding-bottom: 40px;
}
.quantum{
border: 1px solid #eaeaea;
vertical-align: middle;
height: 30px;
display: inline-block;
background-color: #FFF;
}

.quantum .minus{
/*position: relative;*/
text-align: center;
display: inline-block;
width: 30px;
height: 30px;
border-right: 1px solid #eaeaea;
top: -26px;
}
.quantum .plus{
/*position: relative;*/
text-align: center;
display: inline-block;
width: 30px;
height: 30px;
border-left: 1px solid #eaeaea;
top: -26px;
}
.quantum input{
-webkit-appearance: none;
width: 30px;
height: 30px;
text-align: center;
background: transparent;
border: 0;
vertical-align: top;
font-size: 14px !important;
}
.quantum .minus:after{
content: "";
position: absolute;
/*top: 18px;
left: 14px;*/
border-top: 2px solid #333;
width: 14px;
margin: 15px 0 0 -7px;
}
.quantum .plus:before{
content: "";
/*position: absolute;*/
height: 10px;
border-left: 2px solid #333;
/*top: 12px;*/
/*left: 21px;*/
margin: 11px 0 0 3px;
padding-top:1px;
}
.quantum .plus:after{
content: "";
position: absolute;
/*top: 18px;*/
/*left: 14px;*/
border-top: 2px solid #333;
width: 14px;
margin: 15px 0 0 -11px;
}
.custom-go-tao .title {
font-weight: normal;
margin: 0;
padding: 0 10px;
font-size: 16px;
line-height: 22px;
text-align: left;
}
h2 {
font-size: 18px;
line-height: 22px;
}
.wap-page-goods .goods-price {
padding: 5px 10px 0;
text-align: left;
}
.wap-page-goods .current-price {
color: #f60;
display: inline-block;
font-size: 14px;
}
.wap-page-goods .current-price>span {
display: inline-block;
vertical-align: middle;
}
.wap-page-goods .current-price .price {
display: inline-block;
vertical-align: middle;
font-size: 20px;
}
.wap-page-goods .goods-price i {
font-weight: bold;
font-style: normal;
font-size: 20px;
vertical-align: baseline;
}
.white-bg {
background-color: #fff;
}
.sku-detail {
position: relative;
line-height: 20px;
font-size: 14px;
min-height: 56px;
border-bottom: 1px solid #f0f0f0;
}
.wap-page-goods hr {
margin: 0;
border: none;
border-bottom: 1px solid #eee;
}
/*
.wap-page-goods hr.with-margin {
margin: 0 10px;
}
*/
.sku-detail dl {
margin: 8px 0;
background-color: transparent;
}
.sku-detail dt {
float: left;
color: #999;
}
.sku-detail dd {
/* margin-left: 50px; */
display: block;
}
.wap-page-goods .components-container {
margin: 0;
padding: 0;
/*border-top: 1px solid #eee;*/
}
.custom-store {
border: 1px solid #f2f2f2;
border-left-style: none;
border-right-style: none;
 background: #fff url('../image/wap/store.png') no-repeat 10px center; 
margin: 10px 0;
overflow: hidden;
}
.custom-store-link{
background: #fff;
text-align: center;
overflow: hidden;
border-top: 1px solid #c0c0c0;
border-bottom: 1px solid #c0c0c0;
}
.custom-store .custom-store-link {
display: block;
}
.clearfix:before, .clearfix:after {
content: " ";
display: table;
}
.clearfix:after {
clear: both;
}
.custom-store-name {
float:left;
width: 33%;
line-height: 47px;
color: #333;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
border-right: 1px solid #c0c0c0;
}
.hide {
display: none;
}
.custom-store .custom-store-enter {
float: right;
height: 14px;
line-height: 14px;
margin: 15px 0;
font-size: 12px;
color: #999;
border-left: 1px solid #dcdcdc;
padding: 0 10px 0 7px;
}
.custom-recommend-goods {
background: #fff;
margin: 10px 0;
border: 1px solid #f2f2f2;
border-left-style: none;
border-right-style: none;
}
.custom-recommend-goods-title {
margin-left: 9px;
padding-left: 2px;
height: 37px;
max-height: 37px;
line-height: 37px;
font-size: 14px;
border-bottom: 1px solid #f2f2f2;
}
.custom-recommend-goods-title a {
position: relative;
display: block;
color: #333;
}
.custom-recommend-goods-list {
padding: 9px 8px;
margin: 0 0 0 -8px;
list-style: none;
}
.custom-richtext {
padding: 0 5px;
box-sizing: border-box;
/*margin-top: 10px;*/
color: #333;
line-height: 1.4;
overflow: hidden;
text-align: left;
word-break: break-all;
word-wrap: break-word;
/*margin-bottom: 15px;*/
}
.custom-richtext *{
	max-width:100%!important;
	overflow:hidden;
}
.custom-richtext img{
	width: auto!important;
	height: auto!important;
}
.bottom-opts {
/*display: none;*/
z-index: 100;
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: transparent;
padding-top: 5px;
-webkit-user-select: none;
-moz-user-select: none;
}
.butn.butn-primary {
color: #fff;
border-color: #f15a0c;
background-color: #f15a0c;
}
.bottom-opts .bottom-opts-inner {
-webkit-box-shadow: 0 0 4px rgba(0,0,0,.2);
-moz-box-shadow: 0 0 4px rgba(0,0,0,.2);
box-shadow: 0 0 4px rgba(0,0,0,.2);
}
.bottom-opts .opt-wrapper {
text-align: center;
padding: 6px 5px;
border-top: 1px solid #eee;
background-image: -moz-linear-gradient(bottom, rgba(226,227,231,.33) 0%, rgba(248,248,248,.33) 100%);
background-image: -webkit-linear-gradient(bottom, rgba(226,227,231,.33) 0%, rgba(248,248,248,.33) 100%);
background-image: linear-gradient(bottom, rgba(226,227,231,.33) 0%, rgba(248,248,248,.33) 100%);
background-color: #fff;
}
.wap-page-goods .bottom-opts .opt-wrapper {
border-color: #ccc;
padding: 0;
text-align: center;
}
.wap-page-goods .bottom-opts .opt-wrapper:before, .wap-page-goods .bottom-opts .opt-wrapper:after {
display: table;
content: "";
line-height: 0;
}
.wap-page-goods .bottom-opts .opt-wrapper:before, .wap-page-goods .bottom-opts .opt-wrapper:after {
display: table;
content: "";
line-height: 0;
}
.wap-page-goods .bottom-opts .opt-wrapper:after {
clear: both;
}
.bottom-opts .opt-wrapper-inner {
padding: 0;
margin: 0 auto;
}
.wap-page-goods .bottom-opts .opt-wrapper-inner {
position: relative;
padding: 5px 10px;
}
.wap-page-goods .bottom-opts .opt-actions {
display: inline-block;
}
a {
color: #333;
background: transparent;
text-decoration: none;
}
.butn {
display: inline-block;
background-color: #eee;
border: 1px solid #ebebeb;
-webkit-border-radius: 4px;
-webkit-background-clip: padding-box;
-moz-border-radius: 4px;
-moz-background-clip: padding;
border-radius: 4px;
background-clip: padding-box;
padding: 4px 10px;
margin: 0;
color: #999;
font-size: 12px;
line-height: 14px;
cursor: pointer;
}
.wap-page-goods .bottom-opts .butn-buy {
margin: 0 5px;
vertical-align: middle;
}
.butn.butn-yellow {
color: #fff;
background-color: #f09000;
border-color: #f09000;
}
.bottom-opts .butn+.butn {
margin-left: 8px;
}
.vipprice{
	margin: 5px;
	width:70px;
	height:20px;
	background:url(/html/nds/oto/webapp/product/images/vipprice.png) no-repeat;
	background-size: 70%;
}

#detail-info *{
	max-width:100%!important;
	overflow:hidden;
}
#goTopBtn{
	position: fixed;
	width: 30px;
	height: 35px;
	bottom: 21%;
	cursor: pointer;
	right: 8%;
	_position: absolute;
	_right: auto;
	background:url(/html/nds/oto/webapp/product/images/goTop.png) no-repeat;
	background-size: 95%;
	opacity:0.5;
}
.comment-content{
	float: left;
	width:33%;
	line-height: 47px;
	color: #333;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	border-right: 1px solid #c0c0c0;
}
.evaluatelist{
	border-bottom: 1px solid #ddd;
	padding: 10px 10px;
}
.evaluatelist h2{
	font-size: 14px!important;
}
.evaluatelist h3 {
	color: #c00;
	margin: 0;
	padding: 8px 0;
	font-size: 14px;
}
.start05{
	display:block;
	width:130px;
	height:20px;
	line-height: 20px;
	margin-left: 55px;
	margin-top: -20px;
	background-image: url(/html/nds/oto/webapp/product/images/goodcomment.png);
}
.start03{
	display:block;
	width:130px;
	height:20px;
	line-height: 20px;
	margin-left: 30px;
	margin-top: -20px;
	background-image: url(/html/nds/oto/webapp/product/images/middlecomment.png);
}
.start01{
	display:block;
	width:130px;
	height:20px;
	line-height: 20px;
	margin-left: 40px;
	margin-top: -20px;
	background-image: url(/html/nds/oto/webapp/product/images/badcomment.png);
}
.evaluatelist div{
	color: #999;
}
.evaluatelist div span {
	float: right;
}
.product-hot{
	float: left;
	width: 33.3%;
	line-height: 47px;
	color: #333;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.good_list{
	list-style: none;
	clear: both;
	overflow: hidden;
	margin: 0 auto;
}
.good_list li{
	width: 48%;
	overflow: hidden;
	float: left;
	margin: 1% 1%;
}
.good_list li img{
	vertical-align: top;
	width: 100%!important;
}
.good_tag {
	overflow: hidden;
	background: #fff;
	padding: 5px 5px;
}
.good_price{
	float: right;
	margin: 0;
	padding: 0;
	color: #c00;
	text-align: right;
	margin-right: 5px;
}
.showthis{
	/*text-decoration: underline;
	color: #ff6600!important;
	background: #fff;*/
	border-top: 3px solid #c00;
	line-height: 44px;
}