#errorimg{
	background:url(/html/nds/oto/webapp/images/error/images/error.jpg) no-repeat center center;
	background-size:100% 100%;
	width:100%;
	height:100%;
	overflow:hidden;
}

#mallerror{
	background:url(/html/nds/oto/webapp/images/error/images/mallerror.jpg) no-repeat center center;
	background-size:100% 100%;
	width:100%;
	height:100%;
	overflow:hidden;
}

#weberror{
	background:url(/html/nds/oto/webapp/images/error/images/weberror.jpg) no-repeat center center;
	background-size:100% 100%;
	width:100%;
	height:100%;
	overflow:hidden;
}
#pcerror{
	background:url(/html/nds/oto/webapp/images/error/images/pcerror.jpg) no-repeat center center;
	background-size:100% 100%;
	width:100%;
	height:100%;
	overflow:hidden;
}