* {
padding: 0;
margin: 0;
}
html, body {
height: 100%;
-webkit-text-size-adjust: 100%;
font-size: 12px;
}
.dialogWindow.loading {
background: url(../images/loading.gif) no-repeat center center;
-webkit-background-size: 50px auto;
color: transparent;
background-color: rgba(0,0,0,0.5);
width: 100px;
height: 100px;
left: 50%;
top: 50%;
margin-top: -50px;
margin-left: -50px;
}
.dialogWindow.on {
display: block;
}
.dialogWindow {
display: none;
position: fixed;
top: 0;
left: 0;
right: 0;
margin: auto;
z-index: 9000;
width: 300px;
min-height: 100px;
background: #fff;
border-radius: 5px;
-webkit-box-sizing: border-box;
}
.dialogWindow header, .dialogWindow footer {
height: 35px;
line-height: 35px;
padding: 0 10px;
}
.dialogWindow header:empty, .dialogWindow footer:empty {
display: none;
}
.dialogWindow header>dl {
display: table;
}
.dialogWindow header>dl>dd {
display: table-cell;
width: 100%;
}
.dialogWindow .dialogContent {
padding: 0;
-webkit-box-sizing: border-box;
}
.dialogWindow.on+.dialogCover {
display: block;
position: fixed;
left: 0;
top: 0;
width: 100%;
height: 100%;
z-index: 1000;
background: rgba(0,0,0,0.2);
}
.dialogCover {
display: none;
}
