.backtotop{
  position:fixed;
  bottom:20px;
  right:10px;
  width:20px;
  height:40px;  
  border:1px solid #ccc;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  text-decoration:none;
  background-color:#191717;
  color:#fff;
  opacity:0.3;
  font-size:18px;
  text-align:center;
  line-height:40px;
  z-index:9988;
}