*{
	font-size: 14px!important;
	font-family:微软雅黑!important;
}

body {
background-color:#ebebeb;
font: 12px/1.5  华文黑体, 黑体,Droid Sans Fallback, Arial, sans-serif;
}
.vipcard{
  position:relative;
  width:96%;
  margin:15px auto 30px auto;
}
.vipnum{
 position:absolute;
 font-size:20px;
 color:#b14300;
 text-shadow:0 1px  0 rgba(255,255,255,1);
 font-style:normal;
 bottom:36px;
 right:15px;
}
.vipcard img{
  width:100%;
}
.vipcard dd{
  text-align:center;
  font-size:18px;
  color:#b14300;
}
.list{
  width:96%;
  margin-left:auto;
  margin-right:auto;
}
.normalli{ 
  position:relative;
  border:1px solid #bbbbbb;
  border-top:none;
  background-color:#fff;
  font-size:18px;  
}
.normalli a{
  display:block;
  padding:12px 10px 12px 15px;
  text-decoration:none;
  color:#323232;
  background:url(../images/seemore.png) no-repeat center right;
  background-origin:content-box;
  background-size:12px auto;
}
.firstli{
  border-top-left-radius:8px;
  border-top-right-radius:8px;
  border-top:1px solid #bbb;
}
.lastli{
  border-bottom-left-radius:8px;
  border-bottom-right-radius:8px;
  box-shadow:0 1px 0 0 #fff;
}
.normalli .address{
  position:absolute;
  padding:0;
  right:15px;
  bottom:15px;
  width:16px;
  height:22px; 
  background:url(../images/address.png) no-repeat center  right;
  background-size:100%;
}
.normalli  em{
  font-weight:normal;
  font-style:normal;
  color:#ff3c00;
  font-family:arial;
  margin:0 2px;
}
.normalli .phone{
  position:absolute;
  padding:0;
  right:7px;
  bottom:10px;
  width:26px;
  height:16px;
  background:url(../images/phone.png) no-repeat center  right;
  background-size:100%;
}
.lip{
  padding:12px 10px 12px 15px;
}
.lip p{
  width:86%;
}
.count{
  position:absolute;
  right:25px;
  bottom:12px;
  display:inline-block;
  width:29px;
  height:21px;
  line-height:21px;
  text-align:center;
  font-style:normal;
  font-size:12px;
  color:#fff;
  background:url(../images/count.png) no-repeat center  right;
  background-size:100%;
}
.itemtitle{
  width:95%;
  margin:10px auto 5px auto;
  padding:0 0 0 1%;
  font-size:20px;
}

/*注销按钮 start*/
 input.loginButton {
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            background-color: #BA242E;
            color: white;
            text-align: center;
            font-size: 16px;
            border: 0;
            font-family: "华文黑体";
            width: 100%;
            line-height: 180%;
            width:90%;            
        }
/*注销按钮 end*/
