*{
	font-size: 14px!important;
	font-family:微软雅黑!important;
}

body {
background-color:#dddddd;
font: 12px/1.5  华文黑体, 黑体,Droid Sans Fallback, Arial, sans-serif;
}

#wrap{
width:100%;
padding:15px 0;
}


/**all goods page**/
.goodslist{
width:92%;
margin:0 auto;
box-shadow:0px 3px 8px #c6c6c6;
}

/*fist and last li item style*/
.first-item{
-webkit-border-top-left-radius:10px;
-webkit-border-top-right-radius:10px;
}

.last-item{
-webkit-border-bottom-left-radius:10px;
-webkit-border-bottom-right-radius:10px;
border:none;
}

/*common li style*/
.goodslist li{
width:100%;
background-color:#f8f8f8;
border-bottom:1px solid #dadada;
padding:15px 0px;
}

.goodslist li.first-item{
padding: 15px 0px 12px 0px;
}

.goodslist li:active{
background-color:#eeeeee;
}

.best-seller-item{
width:92%;
margin:0 auto;
}

.best-seller-title{
font-size:18px;
font-weight:normal;
line-height:22px;
color:#000;
margin-top:5px;
margin-bottom:15px;
}

.best-seller{
width:100%;
}

.best-seller-pic{
width:100%;
}

.priceTag{
width:100%;
line-height:33px;
background-color:#000;
opacity:0.8;
filter:apha(opacity=80);
margin-top:-37px;
}

.goods-item{
position:relative;
width:92%;
height:68px;
margin:0 auto;
}

.goods-item-pic{
width:67px;
height:67px;
}
/*price*/
.discount-price{
font-family:arial;
font-size:18px;
font-weight:normal;
color:#ff5501;
margin-left:2%;
margin-right:2%;
}

.discount-price .special-discount{
font-size:20px;
font-style:normal;
margin-left:1%;
margin-right:2%;
}

.original-price{
font-family:arial;
font-size:14px;
color:#bebebe;
}


.title-price-container{
position:relative;
float:right;
width:73%;
}
.goods-item-title{
font-size:16px;
line-height:16px;
color:#fff;
font-weight:normal;
}

.goods-price{
margin-top:2px;
width:100%;
text-align:right;
}

/**********************goods detail page *************/
.goods-detail,.orderInfo{
width:92%;
margin-left: auto;
margin-right:auto;
background-color:#f8f8f8;
border-radius:10px;
box-shadow:0px 1px 3px #cdcdcd;
}

.orderInfo{
margin-bottom:20px;
}

.goods-detail:active,.orderInfo:active{
background-color:#eeeeee;
}

.leadactor{
width:92%;
margin:0 auto;
padding:15px 0px 12px 0;
}


.detail-title{
font-size:18px;
line-height:22px;
font-weight:normal;
color:#000;
margin-top:5px;
margin-bottom:15px;
}

.goods-detail-pic{
width:100%;
}

.detailInfo{
width:100%;
}
.info-title{
width:144px;
height:32px;
line-height:32px;
text-align:center;
font-size:18px;
font-weight:normal;
color:#fff;
background: url(../images/titletag.png) no-repeat bottom left;
background-size:100%;
}

.detail-description{
font-size:16px;
line-height:20px;
color:#696969;
padding:5px 5% 20px 5% ;
}

.purchaseBtn{
position:fixed;
bottom:15px;
left:9%;
width:82%;
height:40px;
max-height:80px;
background-image: -webkit-linear-gradient(bottom, rgb(255,77,1) 16%, rgb(255,86,1) 58%, rgb(255,94,1) 79%);
border:none;
-webkit-border-radius:20px;
border:3px solid rgba(255,255,255,0.8);
letter-spacing:20px;
font-size:18px;
font-weight:normal;
color:#fff;
}


.similar-goods{
width:92%;
margin:20px auto 50px auto;
box-shadow:0px 1px 3px #c9c9c9;
}

.similar-goods a{
    color:Blue;
}
.similar-goods .info-title{
margin-bottom:12px;
}
.similar-goods li{
background:#f8f8f8;
}

.similar-first{
-webkit-border-top-left-radius:10px;
-webkit-border-top-right-radius:10px;
}

#goods-details-info .similar-first{
height:116px;
}
.similar-goods .similar-last{
width:92%;
padding:12px 4% 12px 4%;
-webkit-border-bottom-left-radius:10px;
-webkit-border-bottom-right-radius:10px;
background:#f8f8f8 url(../images/jumpover.png)  no-repeat 92% 18px;
}

.similar-goods li:active{
background-color:#eeeeee;
}


.similar-common{
width:92%;
padding:12px 4% 12px 4%;
border-bottom:1px dotted #dadada;
}

.similar-pic{
width:100%;
height:50%;
}

.secdonary-info{
position:relative;
font-family:arial;
font-size:12px;
font-weight:lighter;
color:#cacaca;
}


.similar-word{
position:absolute;
width:75%;
margin:-75px 0 75px 10px;

  padding:2%;
  font-size:16px;
  color:#fff;
  background-color:rgba(0,0,0,.6);
  border-radius:15px;
  z-index:999;
}

.similar-brief{
margin-top:2px;
margin-right:4%;
text-align:right;
}

.similar-last h4{
font-size:16px;
font-weight:normal;
color:#686868;
}


/***************************all articles*****************************/
#all-articles .representive-title{
font-size:18px;
font-weight:lighter;
color:#fff;
padding-left:3%;
}

p.goods-item-title{
font-size:16px;
line-height:20px;
color:#000;
font-weight:normal;
text-align:justify;
margin-left:2%;
}

#all-articles .goods-item{
position:relative;
width:92%;
height:120px;
margin:0 auto;
}

#article-details .similar-first{
min-height:325px;
}

#article-details .article-title{
font-size:18px;
color:#000;
font-size:normal;
}
.composed-time{
font-family:arial;
color:#686868;
font-size:14px;
}

img.article-match-pic {
width:100%;
}

.article-overview{
font-size:16px;
font-weight:normal;
color:#969696;
}

/**订单详情页***/
.shoplist{
width:92%;
padding:15px 4%;
}

.shoplist-item{
padding:5px 0 5px 3%;
}
.shoplist-item-title{
font-size:16px;
font-weight:normal;
color:#000;
}

.shoplist-item-value{
font-size:16px;
font-weight:normal;
color:#686868;
}
/************单价************/
.unit-price,.total-price{
font-family:arial;
font-size:18px;
color:#ff5501;
}

.goodsNum{
font-family:arial;
font-size:15px;
color:#fff;
}

.similar-goods .lastli{
width:92%;
padding:12px 4% 12px 4%;
-webkit-border-bottom-left-radius:10px;
-webkit-border-bottom-right-radius:10px;
}


.gopayBtn,.cancelBtn{
width:45%;
height:40px;
max-height:80px;
border:none;
-webkit-border-radius:20px;
letter-spacing:10px;
font-size:18px;
font-weight:normal;
margin-bottom: 40px;
}

.gopayBtn{
position:fixed;
bottom:10px;
right:3%;
color:#fff;
border:3px solid rgba(255,255,255,0.8);
background-image: -webkit-linear-gradient(bottom, rgb(255,77,1) 16%, rgb(255,86,1) 58%, rgb(255,94,1) 79%);
}

.cancelBtn{
position:fixed;
bottom:10px;
left:3%;
color:#666;
border:3px solid rgba(255,255,255,0.8);
background-image:-webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
}


.cancelBooking{
position:fixed;
bottom:15px;
left:9%;
width:82%;
height:40px;
max-height:80px;
background-image:-webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
border:none;
-webkit-border-radius:20px;
border:3px solid rgba(255,255,255,0.8);
letter-spacing:20px;
font-size:18px;
font-weight:normal;
color:#666;
}

.bookingDetail{
margin-bottom:45px;
}

/**会员中心***/
.shoplist-item-group{
display:inline-block;
width:46%;
text-align:left;
padding:5px 0;
}

.shoplistMr{
margin-right:5%;
}


.navigation{
width:92%;
margin-left: auto;
margin-right:auto;
}

.navli{
float:left;
width:33.33%;
background-color:#f8f8f8;
box-shadow:0px 1px 3px #cdcdcd;
border-right:1px oslid #ccc;
}

.navlitwo{
float:left;
width:50%;
background-color:#f8f8f8;
box-shadow:0px 1px 3px #cdcdcd;
border-right:1px oslid #ccc;
}

.navlifirst{
-webkit-border-top-left-radius:10px;
-webkit-border-bottom-left-radius:10px;
}


.navlilast{
-webkit-border-top-right-radius:10px;
-webkit-border-bottom-right-radius:10px;
}


.nava{
display:inline-block;
width:92%;
padding:10px 4%;
text-align:center;
color:#333;
font-size:18px;
font-weight:normal;
}

.navlilast .nava{
border-right:none;
}

.presentli{
background-color:#eee;
color:#fff;
}
/*---------------------------
店铺宝贝页面
ps:
gcO--->goods container one
gcT--->goods Container two
gcTb---> goods Container two branch
gctp--->goods Container two padding
gipO--->goods image property one
gnpO--->goods name property one
same for gipT,gnpT
pp--->present price
op--->origin price 
wbc--->wrap bgcolor
-----------------------------*/
.wbc{
background-color:#f8f8f8;
}

.gcO{
	width:96%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
}
.gcT{
	width:96%;
	margin-left:auto;
	margin-right:auto;
}

.gcTbO{
	float:left;
	width:49%;
	margin-left:0;
}

.gcTbT{
	float:left;
	width:49%;
	margin-left:2%;
	margin-right:0;
}

.gctp{	
	padding:5px;
	margin-bottom:10px;
	background-color:#FFF;
	border:1px solid #e2e2e2;
}

.gipO{
	width:100%;
}
.gipT{
	width:100%;
}

.gnpO{
	font-size:16px;
	line-height:20px;
	font-weight:normal;
	color:#474747;
}
.gnpT{
	font-size:16px;
	line-height:20px;
	font-weight:normal;
	color:#474747;

}

.pp{
	font-family:arial;
	font-size:12px;
	color:#ff5f20;
	margin-right:5px;
}
.op{
	font-family:arial;
	font-size:12px;
	color:#ababab;
}

/**
sn--->shopname
city--->city
itn--->item name
itv--->item value
locnc--->location and call
sts---> short cuts
**/
.sn,.city,.itn{
font-size:18px;
font-weight:normal;
color:#333333;
}

.city{
float:right;
}
.itv{
font-size:18px;
font-weight:normal;
color:#686868;
}

.sts{
float:right;
}
.locnc{
width:15px;
}

/*-----
gdl---goods data list
gdt---goods data title
gdo--goods data option
gdoa
gdoas
gdoai
msg--message
famb--for adding padding bottom
emphsz--emphsized
pwdt---pic word detail
-----*/
.famb{
margin-bottom:20px;
}


.gdl{
width:92%;
margin-left:auto;
margin-right:auto;
}

.gdt{
font-size:14px;
color:#333;
}

.gdul{
margin-left:2.5em;
font-size:14px;
}
.gdo{
float:left;
margin:5px 10px 15px 0px;
}

.gdoa{
display:inline-block;
position:relative;
padding:5px 8px;
color:#333;
text-transform:uppercase;
border:1px solid #ccc;
}
/* 手机不需要
.gdoa:hover{
margin:-1px;
border:2px solid #FF6701;
}
 */

.selta{
border:2px solid #FF6701;
}

/*手机不需要
.selta:hover{
margin:0;
border:2px solid #FF6701;
} 
*/
.selta .gdoai{
display:inline-block;
position:absolute;
bottom:0;
right:0;
width:12px;
height:12px;
background:url(../images/selected.png) no-repeat bottom right;
}

.msg{
width:92%;
font-size:14px;
margin-left:auto;
margin-right:auto;
}

.msgS{
color:#696969;
margin-right:10px;
}

.pBtn{
margin:20px 0 15px 10%;
width:82%;
height:40px;
max-height:80px;
background-image: -webkit-linear-gradient(bottom, rgb(255,77,1) 16%, rgb(255,86,1) 58%, rgb(255,94,1) 79%);
border:none;
-webkit-border-radius:20px;
border:3px solid rgba(255,255,255,0.8);
letter-spacing:20px;
font-size:18px;
font-weight:normal;
color:#fff;
}

.emphsz{
color:red;
}

.pwdt{
padding:0 4%;
}


/*团购
peowB--> people who bought this 
*/
.groupBuy{
	width:100%;
	min-height:480px;
	background-color:#f1f1f1;
}

.countdown{
	margin-left:10px;
	color:#fff;
	font-size:16px;
	font-weight:normal;
	letter-spacing:8px;	
}

.emphsd{
	color:#ff5501;
	font-family:arial;
	font-style:normal;
	letter-spacing:1px;
}

.peowB{
	float:right;
}


.groupBuy-price{
	width:100%;
	height:60px;
	line-height:60px;
	background-color:#ff5501;
}

.groupBuy-discp{
	margin-left:10px;
	font-size:28px;
	color:#fff;
}

.groupBuy-origp{
	margin-left:10px;
	font-size:18px;
	color:#171819;
}

.gBuyBtn{
float:right;
margin:14px 0 15px 0;
width:30%;
height:30px;
max-height:80px;
background-image: -webkit-linear-gradient(bottom, rgb(230,230,230) 16%, rgb(241,241,241) 58%, rgb(255,255,255) 79%);
border:none;
-webkit-border-radius:20px;
font-size:18px;
font-weight:normal;
color:#ff5501;
margin-right:10px;
}
/*补丁*/
.puddingName{
font-size:18px;
font-weight:lighter;
color:#fff;
padding-left:3%;
}

.bn{
  border:none;
  padding-bottom:0;
  margin-bottom:-5px;
}

