body{
word-wrap: break-word;
word-break: break-all;
background-color: #FFFFFF;
color:#898989;
}
div, h1, h2, h3, p, ul, ol, li, dl, dt, dd, form, input {
margin: 0;
padding: 0;
list-style: none;
}
a {
color: #333;
text-decoration: none;
}
img, object, input, select, textarea {
border: none;
color: #333;
vertical-align: middle;
}
#select_coupon{
width:100%;
border-radius: 0;
-webkit-appearance: none;
display: inline-block;
/* padding-left: 10px;
padding-right: 23px; */
padding-top: 5px;
height: 29px;
line-height: 28px;
font-size: 14px;
border: 1px solid #eaeaea;
background: #fff;
margin: 0;
}
#select_coupon span{
padding-left:10px;
}
.coupon-content{
width:100%;
float: left;
/* width: 484px; */
position: relative;
z-index: 999;
}
#searchResult {
width:100%;
position: absolute;
top: 2px;
left: 0;
/* width: 385px; */
z-index: 1;
}
.searchResultBg {
position: relative;
z-index: 1;
/* width: 385px; */
border: 1px #eaeaea solid;
border-top: none;
}
.searchResultCon {
position: relative;
z-index: 1;
/* width: 385px; */
border-top: 1px solid #eaeaea;
background-color: #fff;
}
#searchResult ul {
position: relative;
/* width: 385px; */
/* float: left; */
padding: 3px 0;
background-color: #fff;
}
.resourcesCon li {
height: 38px;
font-size: 13px;
}
.resourcesCon li a {
display: block;
/* width: 365px; */
height: 35px;
overflow: hidden;
padding: 1px 10px 2px;
padding: 2px 10px 1px\9;
line-height: 35px;
color: #47494a;
}
.resourcesCon li a:hover, .searchTitleHoverLi {
color: #47494a;
font-weight: bold;
text-decoration: none;
background-color: #f4f4f4;
}
.resourcesCon li a img {
width: 60px;
height: 35px;
overflow: hidden;
margin-right: 10px;
}
#searchResult em {
color: #CC3333;
font-style: normal;
font-weight: normal;
}
.resourcesCon li img.searchicon {
width: 19px;
height: 19px;
overflow: hidden;
margin: -3px 0 0 2px;
}
.clear {
clear: both;
display: block;
font-size: 0;
height: 0;
line-height: 0;
}
.mylogistics,.call_cust{
	float:right;
	display: inline-block;
	width: 10px;
	height: 10px;
	position: absolute;
	right: 30px;
	border: 1px solid #82878a;
	border-width: 1px 1px 0 0;
	-webkit-transform: rotate(45deg);
	margin: 3px;
}
.to_callcust{
	background:url(/html/nds/oto/webapp/images/conn_cust.png) no-repeat;
	background-size: 25px;
	padding: 5px 35px;
	display:block;
	font-size: 14px!important;
	line-height: 14px;
}
.order_wrap{
	margin-left: auto;
	margin-right: auto;
}
.order_header{
	height: 40px;
	background: #f4f4f4;
	padding-left: 10px;
}
.order_header div{
	padding-top: 9px;
}
.order_detail_title{
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
}
.order_detail{
	background: #f4f4f4;
	height: 90px;
}
.order_detail img{ 
	border: 1px solid #cccccc;
}
.order_detail a{ 
	float: left;
	margin-right: 20px;
	padding-left: 10px;
	padding-top: 10px;
}
.order_p{
	color: #d88248;	
}
.order_alladdress{
	margin-top: 10px;
}
.order_alladdress li{
	background: #f4f4f4;line-height: 24px;position: relative;height: 97px;
}
.order_revice{
padding-top: 11px;
padding-left: 10px;
}
.order_phone,.order_ad{
padding-left: 10px;
}
.order_note{
margin-top: 15px;margin-left: 10px;width: 70px;
}
.order_change{
width: 70px;
display: block;
text-align: center;
color: #898989;
height: 30px;
line-height: 28px;
border-radius: 4px;
background-color: #dcdcdc;
border: none;
margin: auto;
font-family: 微软雅黑;
}
.order_modeify{
width: 70px;
display: block;
text-align: center;
color: #fff;
height: 30px;
line-height: 28px;
border-radius: 4px;
background-color: #a09bab;
border: none;
margin: auto;
font-family: 微软雅黑;
}
.order_pay{
margin-top: 15px;
margin-left: 10px;
}
.order_pay_select{
display: block;
margin-top: 9px;
margin-left: 10px;
margin-right: 10px;
}
.order_paymentselect{
background: #f4f4f4;
height: 31px;
line-height: 28px;
padding-left: 14px;
}
.order_pay_select select{
width: 100%;
border: 1px solid #eaeaea;
font-size: 14px;
font-family: 微软雅黑;
color:#898989;
height: 28px;
-webkit-appearance: none;
background: url(/html/nds/oto/webapp/order/images/arrow.png) 98% no-repeat;
}
.order_comment{
margin-left: 10px;
margin-top: 15px;
margin-right: 10px;
}
.order_remarks{
background: #f4f4f4;
height: 75px;
line-height: 28px;
padding-left: 14px;
}
.order_ocancel{
position: absolute;right: 10px;top: 5px;
}
.order_tex{
height: 70px;
width: 100% !important;
resize: none;
border: 0px solid #eaeaea !important;
outline:none;
color:#898989;
padding:0 5px;
}
 /*textarea placeholder 属性设置*/
 ::-webkit-input-placeholder { /* WebKit browsers */
    color:#c8c8c8;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#c8c8c8;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#c8c8c8;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#c8c8c8;
}
.order_total{
margin-bottom: 10px;
background: #f4f4f4;
font-size: 14px;
margin-top: 10px;
height:80px;
position: relative;
}
.order_payment{
width: 123px;
display: block;
text-align: center;
color: #fff;
height: 30px;
line-height: 28px;
border-radius: 4px;
background-color: #9f9baa;
border: none;
margin: auto;
font-family: 微软雅黑;
}
.order_cancel{
width: 70px;
display: block;
text-align: center;
height: 30px;
line-height: 28px;
border-radius: 4px;
background-color: #dcdcdc;
border: none;
margin: auto;
font-family: 微软雅黑;
color: #898989;
}
.order_totamt{
padding-left: 10px;
}
.order_actual{
padding-left: 10px;
padding-top: 3px;
}
.order_comeback{
position: absolute;right: 10px;top: 3px;color: #898989;
}
.order_ship{
padding-left: 10px;
}
.order_paymon{
position: absolute;right: 10px;top: 43px;
}
.order_totprice{
font-size:16px!important;line-height: 25px;color: #f34;
}
.order_btnchange{
position: absolute;right: 90px;top: 7px;
}
.order_btnmodify{
position: absolute;right: 10px;top: 7px;
}
.order_comment span{
padding: 0px;display: block;border: 1px solid #eaeaea;height: 70px;
}
.order_more{
height:50px;
text-align: center;
line-height: 0px;
}
.order_picflip{
-webkit-transform: rotate(180deg);
}

.order_logistics,.order_evaluation{
position: absolute;
right: 10px;
top: 43px;
}
.order_logistics a,.order_evaluation a{
width: 123px;
display: block;
text-align: center;
color: #fff;
height: 30px;
line-height: 28px;
border-radius: 4px;
background-color: #9f9baa;
border: none;
margin: auto;
font-family: 微软雅黑;
}

/* 收货地址 */
.address_defalut {
padding: 14px 10px 16px 10px;
position: relative;
}
.address_defalut h3 {
padding: 17px 10px;
position: absolute;
top: 0;
left: 0;
color: #333;
font-size: 16px;
line-height: 16px;
}
.address_defalut ul {
padding-left: 28px;
position: relative;
}
.address_defalut li {
word-wrap: break-word;
word-break: break-all;
}
.address_defalut h3, .address_null .tips {
color: #333;
font-size: 16px;
padding: 15px 0;
line-height: 16px;
}
.address_defalut ul:after, .address_null .tips:after {
margin-top: -6px;
-webkit-transform: rotate(135deg);
-ms-transform: rotate(135deg);
transform: rotate(135deg);
display: block;
content: '\20';
position: absolute;
top: 50%;
width: 9px;
height: 9px;
border-top: 1px solid #7d7d7d;
border-left: 1px solid #7d7d7d;
background: none;
}
.address_defalut ul:after, .address_null .tips:after {
right: 10px;
}
.address_defalut ul.icon_hide:after{
display:none;
}
.address_null {
padding: 0 10px;
border-bottom: 1px solid #E7E7E7;
}
.address_null .tips {
position: relative;
padding: 24px 0;
}
.address_null h3,.address_null ul{
display:none;
}
.address_defalut .tips{
display:none;
}
.address_null .tips{
display:block;
}
/* 收货地址end */