body{
	background:#f6f6fa;
}
.catetop{
	padding-top:5px;
}
.catetitle{
	font-size:20px!important;
	color:#393d95;
	font-weight: bold;
}
.gohist{
	margin-left:5px;
	float:left;
	width:30px;
	height:30px;
	background:url(/html/nds/oto/website/399/images/gohist.png) no-repeat;
	background-size:25px 25px;
}
.gohome{
	margin-right:5px;
	float:right;
	width:30px;
	height:30px;
	background:url(/html/nds/oto/website/399/images/gohome.png) no-repeat;
	background-size:25px 25px;
}
.subcate{
	margin: 0px 15px;
	padding-top: 10px;
	padding-bottom: 5px;
	/*padding:5px 0;*/
}
.subcatetitle{
	font-size:16px!important;
	color:#b0b1b2;
}
.subcatetitle:hover{
	color:#3e3938;
}
.textcolor{
	color:#3e3938;
}
.subcatelink{
	margin-right:20px;
}
.articletitle{
	font-size:16px!important;
	color:#000;
	font-weight: bold;
}
.content{
	padding: 5px;
	margin: 0 15px;
	margin-bottom:10px;
	background:#fff;
}
.content a{
	color:#fff;
	text-decoration: none;
}
.content * {
	max-width:100%!important;
	overflow:hidden;
}
.contentimg img{
	width: auto!important;
	height: auto!important;
}
.contentinfo{
	color: #747374;
}
.contentinfo * {
	max-width:100%!important;
	overflow:hidden;
}
.contentinfo img {
	width: auto!important;
	height: auto!important;
}
.artlist{
	height:100px;
	padding: 5px 5px;
	position: relative;
}
.contentimg{
	width:100%;
	float: left;
	vertical-align:middle;
	text-align:center;
	padding: 10px 0;
}
.contentimg img{
	width:360px;
	height:200px;
}
.listimg{
	width:90px;
	height:90px;
	float:left;
	margin: 5px 0 5px 0;
}
.contenttitle{
	font-size:14px!important;
	color: #000;
	margin-left:100px;
	padding-top:5px;
}
.contentdesc{
	color:#989898;
	margin-left:100px;
	font-size: 12px!important;
}
.contentdate{
	color:#989898;
	margin-left:100px;
	font-size: 12px!important;
	position: absolute;
	bottom: 10px;
}
.articledate{
	color: #747374;
}
.articledate span,a{
	font-size:12px!important;
}
.contentnum{
	color: #747374;
}
.contentread{
	width:65px;
	height:20px;
	background:url(/html/nds/oto/website/399/images/read.png) no-repeat;
	background-size:65px 20px;
	text-align:center;
	vertical-align:middle;
	line-height: 20px;
	position: absolute;
	right: 0px;
	bottom: 10px;
}
.contentread a{
	width:65px;
	height:20px;
	font-size: 12px!important;
}
.clickimg{
	width:15px;
	height:100%;
	position: absolute;
}
.prev{
	left:0px;
	background:url(/html/nds/oto/website/399/images/prev.png) no-repeat center 40%;
	background-size:10px 15px;
	border: 0;
}
.next{
	right:0px;
	background:url(/html/nds/oto/website/399/images/next.png) no-repeat center 40%;
	background-size:10px 15px;
	border: 0;
}
.pagetext{
	padding: 5px;
}
.pagetext *{
	max-width:100%!important;
	overflow:hidden;
}
.pagetext img {
	width: auto!important;
	height: auto!important;
}