body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div {
    border:0 none;
    margin:0;
    padding:0;
}

body {
    background: url(images/back.gif) scroll repeat-x;
    color:#333333;
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
	text-align:center;
}

ul, ol {
    list-style-type:none;
}
	
#container{
    margin:0 auto;
	text-align:left;
	width:982px;}
	
#container_login{
    margin-top:50px;
    margin-bottom:50px;
    width:982px;
}
	
	
	
a.content_text{
	color:#FF9900;
	text-decoration: none;
}
a.content_text:hover{
	color:#ff6600;
	text-decoration: underline;
}

a{
	color:#ff9900;
	text-decoration: none;
}
a:hover{
	color:#333;
	text-decoration: none;
}

#head{
    width:982px;
    text-align:left;
	margin:0 auto;}
	
#head_left{
    float:left;}
	
#head_right{
    float:right;}
	
#head_pic{
    text-align:center;}
	
	
#content{
    width:982px;
	text-align:left;
	margin:8px auto;
	padding:0 6px;
	display:block;
}

#content_bg{
    background:url(images/content_bg.gif) no-repeat scroll;
    width:970px;
    height:236px;
}
	
.content_left{
    width:245px;
	float:left;
}
	
.content_middle{
    width:352px;
	padding-left:7px;
	float:left;}
		
.content_right{
    width:352px;
    padding-left:14px;
	float:left;
}

.clear
{
	border-top:0;
	clear:both;
}

.content_left_login_bg{
    background:url(images/content_login_bg.gif) no-repeat scroll;
    width:236px;
    height:236px;}
	
#content_left_login{
    padding-top:70px;
	padding-left:20px;;
	width:190px;
	text-align:left;}

	
#content_left_login ul{
   margin:0 auto;
   width:190px;
   text-align:left;
   list-style:none;}
   
#content_left_login li{
   margin:0;
   padding:0;
   width:100%;}
   
#container_login ul{
   margin:0 auto;
   width:220px;
   text-align:center;
   list-style:none;}
   
#container_login li{
   margin:0;
   padding:0;
   width:100%;}
   
#content_left_login li .left_text{
    float:left;
    width:60px;
    font-size:12px;
    text-align:right;
    line-height:20px;
    color:#989A9B;
    padding:4px 0px;
    +padding:3px 0px;/*IE可执行*/}
    
#container_login li .left_text_login{
    float:left;
    width:100px;
    font-size:16px;
    text-align:right;
    line-height:20px;
    color:#989A9B;
    padding:4px 0px;
    +padding:3px 0px;/*IE可执行*/}
    
    #content_left_login li .left_textx{
    float:left;
    width:190px;
    font-size:12px;
    text-align:center;
    line-height:20px;
    color:#989A9B;
    padding:4px 0px;
    +padding:3px 0px;/*IE可执行*/
    }
	
#content_left_login li .right_text{
    float:right;
    width:120px;
    font-size:12px;
	text-align:left;
    line-height:20px;
    color:#5d5d5d;
    padding:4px 0px;
    +padding:3px 0px;/*IE可执行*/
    }
#container_login li .right_text_login{
    float:right;
    width:120px;
    font-size:16px;
	text-align:left;
    line-height:20px;
    color:#5d5d5d;
    padding:4px 0px;
    +padding:3px 0px;/*IE可执行*/
    }

input.Warning-120 {
  border:1px solid #989A9B;
  height:16px;
  width:120px;
}

input.Warning-60 {
  border:1px solid #989A9B;
  height:16px;
  width:60px;
}

input.Warning-601 {
  border:1px solid #989A9B;
  height:16px;
  width:40px;
  text-transform:uppercase;
} 

.content_middle h2{
  color:#ff6600;
  font-size:12px;
  font-weight:bold;
  height:27px;
  line-height:27px;
  margin:0;
  padding:0 8px;
}
  
.content_middle h2, .content_right h2{
  background:url(images/content_news_bg.gif) repeat-x scroll left top;}
  
.content_middle h2 a {
   background:transparent url(images/content_more_ico.gif) no-repeat scroll left center;
   color:#AF791F;
   display:inline;
   float:right;
   padding-left:6px;
   text-decoration:none;
}

.content_middle h2 a:hover {
   text-decoration:underline;
   color:#ff6600;
}

#content_middle_border{
   border:1px solid #F9EEDC;
   clear:both;
   padding:0px;}
   
.imgtxt01 {
    height:101px;
    overflow:hidden;
}

.it01img {
    float:left;
    overflow:hidden;
    width:138px;
}

.it01txt {
    float:left;
    padding-left:2px;
    width:200px;
}

.it01bold {
    font-size:12px;
    font-weight:bold;
    color:#FF6600;
	padding-top:25px;
	line-height:18px;
	height:18px;
}

.it01text{
    font-size:12px;
    color:#FF6600;
	padding:5px;
	line-height:18px;
	height:18px;}

.mdlist {
    padding:5px;
}

ul, ol {
    list-style-type:none;
}

.list_middle li {
    background:transparent url(images/yellow_line.gif) no-repeat scroll left center;
    padding-left:5px;
	color:#FFA200;
}

.mdlist li {
    font-size:12px;
    line-height:23px;
}

a.middle_list {
   color:#76797C;
   text-decoration:none;
   padding-left:3px;
}

a.middle_list:hover {
   text-decoration:underline;
   padding-left:3px;
}

.content_right h2{
  color:#ff6600;
  font-size:12px;
  font-weight:bold;
  height:27px;
  line-height:27px;
  margin:0;
  padding:0 8px;}
   
.content_right h2 a {
   background:transparent url(images/content_more_ico.gif) no-repeat scroll left center;
   color:#AF791F;
   display:inline;
   float:right;
   padding-left:6px;
   text-decoration:none;
}

.content_right h2 a:hover {
   text-decoration:underline;
   color:#ff6600;
}

#content_right_border{
   border:1px solid #F9EEDC;
   clear:both;
   padding:0px;}

#content_right_bottom{
	height:100px;
	width:339px;
}

.imgtxt02 {
    height:82px;
    overflow:hidden;
}

.it02img {
    float:left;
    overflow:hidden;
    width:112px;
}

.it02txt {
    float:left;
    padding-left:2px;
    width:220px;
}

.it02txt ul li {
   font-size:12px;
   line-height:24px;
   padding-left:5px;
}

.ico_y li {
    background:transparent url(images/ico_y.gif) no-repeat scroll left center;
	color:#76797C;
    font-size:12px;
    padding-left:5px;}

#bottom{
    width:982px;
    clear:both;
	margin:0 auto;}

#bottom_bg{
    background:url(images/bottom_bg.gif) no-repeat scroll;
    width:982px;
    height:30px;
    text-align:center;
    }
   
#bottom_text{
    font-size:12px;
    color:#333333;
    padding:8px 0px 0px 30px;}
#news_content{                                                                
    width:982px;                                                              
	text-align:left;                                                            
	margin:5px auto;                                                            
	padding:0;                                                                  
	display:block;                                                              
}                                                                             
	                                                                            
#news_left{                                                                   
    width:200px;                                                              
	float:left;                                                                 
	text-align:left;                                                            
	background:url(images/news_left.gif) repeat-y scroll;}                      
	                                                                            
.news_left_top{                                                               
    background:url(images/news_left_top.gif) no-repeat scroll top left;       
    height:62px;                                                              
	width:200px;}                                                               
                                                                              
.news_left_bottom{                                                            
    background:url(images/news_left_bottom.gif) no-repeat scroll bottom left; 
    width:200px;                                                              
    height:9px;}                                                              
	                                                                            
#news_left_center{                                                            
    margin-bottom:62px;                                                       
    padding-top:9px;                                                          
	width:200px;                                                                
	text-align:center;}                                                         
	                                                                            
#news_center_left{                                                            
    width:180px;                                                              
    text-align:left;                                                          
    padding-left:5px;                                                         
    padding-right:5px;}                                                       
                                                                              
#news_center_left ul{                                                         
    margin:0px;                                                               
    padding-left:20px;                                                        
	}                                                                           
                                                                              
#news_center_left li{                                                         
    border-bottom:1px dotted #FDBC00;                                         
	list-style-image: url(images/li.gif);                                       
    LIST-STYLE-TYPE:none;                                                     
    line-height:20px;                                                         
    width:95%;                                                                
	padding-top:5px;                                                            
}                                                                             
                                                                              
#news_right_bg{                                                               
    background:url(images/news_left_bg.gif) repeat-y scroll;                  
    width:782px;                                                              
    float:left;                                                               
    text-align:right;}                                                        
                                                                              
                                                                              
#news_right{                                                                  
    background:url(images/news_right_bg.gif) repeat-y scroll;                 
    width:765px;                                                              
    text-align:left;                                                          
	float:right;}                                                               
                                                                              
.news_right_top{                                                              
     background:url(images/news_right_top.gif) repeat-x scroll;               
	 height:27px;}                                                              
	                                                                            
.news_right_bottom{                                                           
    background:url(images/news_right_bottom.gif) no-repeat bottom left scroll;
	height:9px;}                                                                
                                                                              
#news_right_center{                                                           
    margin-bottom:27px;                                                       
	padding-top:9px;                                                            
	text-align:center;}                                                         
	                                                                            
#news_center_right{                                                           
	width:700px;                                                                
	text-align:center;  
	margin:0 auto;                                                        
}                                                                             
	                                                                            
.news_center_right_border{                                                    
    text-align:center;                                                        
	border-bottom:dotted 1px #333333;                                           
	height:42px;                                                                
	                                                                            
	}                                                                           
                                                                              
.news_center_right_title{                                                     
	font-size:14px;                                                             
	color:#333333;                                                              
	vertical-align: bottom;                                                     
	padding-top:25px;
	font-weight:bold;                                                           
	}                                                                           
	                                                                            
.news_center_right_text{font-size:12px;                                       
	color:#333333;                                                              
	vertical-align:top;  
	padding-top:5px;
	color:#ff6600;}                                                       
                                                                              
.news_center_right_text01{font-size:12px;                                     
	color:#333333;                                                              
	vertical-align:top;                                                         
	padding:40px 10px 10px 10px;                                                               
	text-align:left;}   

.news_center_right_text02{font-size:12px;                                       
	color:#333333;                                                              
	vertical-align:top; 
	color:#ff6600;} 

#login_bg{
  background:url(images/login_bg.gif) no-repeat scroll;
	width:982px;
	height:372px;
	text-align:center;
	margin:0 auto;}
	
#login_center{
  width:220px;
	text-align:center;
	margin:0 auto;
	padding-top:130px;}
	
	
#login_center ul{
   margin:0 auto;
   width:220px;
   text-align:left;
   list-style:none;}
   
#login_center li{
   margin:0;
   padding:0;
   width:100%;}
   
#login_center li .login_left_text{
    float:left;
    width:70px;
    font-size:14px;
    text-align:right;
    line-height:20px;
    color:#333;
    padding:4px 0px;
    +padding:5px 0px;/*IE可执行*/}
	
#login_center li .login_right_text{
    float:right;
    width:150px;
    font-size:14px;
	text-align:left;
    line-height:20px;
    color:#333;
    padding:4px 0px;
    +padding:3px 0px;/*IE可执行*/}

input.Warning-130 {
  border:1px solid #A88B3E;
  height:18px;
  width:130px;
}

input.Warning-70 {
  border:1px solid #A88B3E;
  height:18px;
  width:70px;
  text-transform:uppercase;
}  
.portlet-msg-error{
  color: #FF0000;
  text-align:center;
} 

.null{
  height:20px;
  padding-left:10px;
  padding-right:10px;

}

.even-row{
  height:20px;
  line-height:20px;
  background:url(images/icon_line.gif) no-repeat scroll ;
} 

.odd-row{
  height:20px;
  line-height:20px;
  background:url(images/icon_line.gif) no-repeat scroll ;
}

.first-td{
  height:20px;
  line-height:20px;
  padding-left:10px;
}                                                    